/*Background: #202239 Azul: #1F65C2 Laranja: #D45F25 Branco: #F2F2F2 */
*{ text-align: center;Background: #202239 ;color: #F2F2F2;
    margin: 0; padding: 0;
}

@media screen and (max-width:1080px) {
  .baner{
      
      background-size: cover;}  
}

h1{background-color: rgba(0,0,0,0);}
h2{background-color: rgba(0,0,0,0);}
h3{background-color: rgba(0,0,0,0);}
h4{background-color: rgba(0,0,0,0);}

header{ height: 200px;}
header img {height: 100%; float: left;}
header ul{list-style: none; height: 200px;line-height: 200px;}
header ul li{ display: inline;}

.caixa{ display: grid;
    grid-template-areas: "b" "l" "a" "s" "e" "c" "p" ;
    grid-auto-columns: 1fr;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh 100vh;
}

.baner{grid-area: b;
background-image: url("../midias/banner700x300.jpg"); background-repeat: no-repeat;
background-position-x: center;background-position-y: center; background-size: auto 80%;
}
.laranja90{background-color: #D45F25;height: 90%;border-radius: 5%;margin: 5px 25px ;}
.laranja{background-color: #D45F25;height: 95%;border-radius: 5%;margin: 5px 25px ;}
.azul{background-color: #1F65C2;height: 95%;border-radius: 5%;margin: 5px 25px ;}
.atracoes{grid-area: a;}
.social{grid-area: s;}
.eventos{grid-area: e;}
.conheca{grid-area: c;}
.parcerias{grid-area: p;}
.local{border-radius: 5%;margin: 5px 25px ;}
iframe{ height: 80%;}
.localizacao{grid-area: l; background-color: #1F65C2;}
